{% extends 'page.html.twig' %}

{% block body %}
<div id="mirador"></div>
<script src="{{ url_for('index') }}node/mirador/mirador.min.js"></script>
<script>
Mirador.viewer({
    id: 'mirador',
    window: {
        allowClose: false,
        allowFullscreen: true,
        allowMaximize: false,
        defaultSideBarPanel: 'canvas',
        sideBarOpenByDefault: true,
    },
    windows: [
        {
            manifestId: '{{ id }}',
        }
    ],
    workspace: {
        showZoomControls: true,
    },
    workspaceControlPanel: {
        enabled: false,
    },
});
</script>
{% endblock %}
