{% extends 'page.html.twig' %}

{% block body %}
<div id="tify"></div>
<script>
var tifyOptions = {
    manifest: '{{ id }}'
};
</script>
<script src="{{ url_for('index') }}node/tify/tify.js"></script>
{% endblock %}
